USE [master]
GO
/****** Object:  Database [VTech_DATABASE]    Script Date: 28/09/2025 2:06:57 SA ******/
CREATE DATABASE [VTech_DATABASE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VTech_DATABASE', FILENAME = N'D:\SQl system\project\MSSQL15.MSSQLSERVER\MSSQL\DATA\VTech_DATABASE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VTech_DATABASE_log', FILENAME = N'D:\SQl system\project\MSSQL15.MSSQLSERVER\MSSQL\DATA\VTech_DATABASE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VTech_DATABASE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VTech_DATABASE]
GO
/****** Object:  Table [dbo].[Filter]    Script Date: 28/09/2025 2:06:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filter](
	[FilterId] [char](10) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreateAT] [datetime] NOT NULL,
	[FileName] [nvarchar](1000) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[NumberOfRecord] [int] NOT NULL,
	[PassRate] [int] NOT NULL,
 CONSTRAINT [PK__Filter__3159DF6EDE9F5E9D] PRIMARY KEY CLUSTERED 
(
	[FilterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Form]    Script Date: 28/09/2025 2:06:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form](
	[FormId] [varchar](20) NOT NULL,
	[CreateAT] [datetime] NOT NULL,
	[Due] [datetime] NOT NULL,
	[Infor] [nvarchar](1000) NULL,
	[StudentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 28/09/2025 2:06:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Detail] [nvarchar](200) NULL,
	[CreateAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 28/09/2025 2:06:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Price] [decimal](6, 3) NOT NULL,
	[Due] [int] NOT NULL,
	[Detail] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 28/09/2025 2:06:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[CreateAT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 28/09/2025 2:06:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[BirthYear] [int] NOT NULL,
	[Ethnicity] [nvarchar](50) NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[PermanentAddress] [nvarchar](200) NULL,
	[CurrentAddress] [nvarchar](200) NULL,
	[GPA_THPT] [decimal](4, 2) NULL,
	[IELTS] [nvarchar](20) NULL,
	[TOEIC] [nvarchar](20) NULL,
	[OtherCertificates] [nvarchar](255) NULL,
	[SelfIntroduction] [nvarchar](max) NULL,
	[FatherName] [nvarchar](100) NULL,
	[FatherBirthYear] [int] NULL,
	[FatherPhone] [varchar](15) NULL,
	[FatherOccupation] [nvarchar](100) NULL,
	[FatherCurrentAddress] [nvarchar](200) NULL,
	[MotherName] [nvarchar](100) NULL,
	[MotherBirthYear] [int] NULL,
	[MotherPhone] [varchar](15) NULL,
	[MotherOccupation] [nvarchar](100) NULL,
	[MotherCurrentAddress] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/09/2025 2:06:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[DOB] [datetime] NULL,
	[Email] [varchar](200) NOT NULL,
	[PassWord] [varchar](200) NULL,
	[Phone] [char](10) NULL,
	[CompanyName] [nvarchar](200) NULL,
	[CompanyAddress] [nvarchar](200) NULL,
	[CompanyCode] [varchar](3) NULL,
	[CreateAT] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[PackageId] [int] NULL,
	[FormId] [varchar](20) NULL,
	[FilterId] [char](10) NULL,
	[DateBuyPackage] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [DOB], [Email], [PassWord], [Phone], [CompanyName], [CompanyAddress], [CompanyCode], [CreateAT], [Status], [PackageId], [FormId], [FilterId], [DateBuyPackage]) VALUES (2, N'Đậu Khắc Huy', CAST(N'2008-07-28T04:59:00.000' AS DateTime), N'huydkde170020@fpt.edu.vn', NULL, N'123456789 ', N'vtech_profileanalysis', N'Huyện Thanh Chương , Tỉnh Nghệ An', N'PAS', CAST(N'2025-09-27T15:42:18.450' AS DateTime), 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Filter]  WITH CHECK ADD  CONSTRAINT [FK_Filter_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([ServiceId])
GO
ALTER TABLE [dbo].[Filter] CHECK CONSTRAINT [FK_Filter_Service]
GO
ALTER TABLE [dbo].[Form]  WITH CHECK ADD  CONSTRAINT [FK_FORM_STUDENT] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[Form] CHECK CONSTRAINT [FK_FORM_STUDENT]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Filter] FOREIGN KEY([FilterId])
REFERENCES [dbo].[Filter] ([FilterId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Filter]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Form] FOREIGN KEY([FormId])
REFERENCES [dbo].[Form] ([FormId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Form]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([PackageId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Package]
GO
USE [master]
GO
